name: deploy staging

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  backend-build:
    name: Build and Deploy Spring Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Dockerhub Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and Push Docker Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./backend
          file: ./backend/Dockerfile.staging
          push: true
          tags: srkinj/platform-backend:staging

      - name: Print image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  frontend-build:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Dockerhub Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          file: ./frontend/Dockerfile.staging
          build-args: |
            BUILDMODE=production
          push: true
          tags: srkinj/platform-frontend:staging
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  deploy:
    name: Deploy staging
    runs-on: ubuntu-latest
    needs: [backend-build, frontend-build]
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_PRIVATE_KEY }}
          source: "docker-compose.staging.yml"
          target: "~/deploy/staging"

      - name: deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_PRIVATE_KEY }}
          script: |
            docker pull srkinj/platform-frontend:staging 
            docker pull srkinj/platform-backend:staging
            docker-compose -f ~/deploy/staging/docker-compose.staging.yml up -d
